/* App.css */
#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.main-container {
  display: flex;
  align-items: flex-start; /* Allinea gli elementi in alto */
  gap: 20px; /* Spazio tra la sezione filtri e i prodotti */
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary-color));
}

.card {
  padding: 2rem;
  background-color: var(--background-dark);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.read-the-docs {
  color: #666;
  font-size: 0.9em;
}
