/* Footer.css */
.footer {
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    width: 100%;
    margin-top: 10rem; /*USATO PER FIXARLO PERCHè IN ALCUNE PAGINE NON VA IN FONDO*/
}

/* Altri stili se presenti */
.footer-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-content a {
    color: #DDD;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}
