/* Filters.css */
.filters-container {
    padding: 25px;
    background-color: var(--background-light);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    width: 250px; /* Aumenta la larghezza della sezione filtri */
    margin-top: 90px; /* Spazio per abbassare i filtri */
    margin-right: 20px; /* Spazio tra filtri e lista prodotti */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filters-container h4 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: var(--primary-color);
}

.filters-container label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filters-container input[type="checkbox"] {
    margin-right: 10px;
}

.filters-container input[type="text"],
.filters-container button,
.filters-container select {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: var(--background-dark);
    color: var(--text-color-dark);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.25s;
}

.filters-container input[type="text"]:focus,
.filters-container button:focus,
.filters-container select:focus {
    border-color: var(--secondary-color);
}
