.payment-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Larghezza percentuale per adattarsi meglio su schermi più piccoli */
    max-width: 750px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.payment-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.payment-instructions {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.payment-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.payment-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    margin-bottom: 20px;
}

.payment-option {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

.payment-option:hover {
    background-color: #f1f1f1;
}

.payment-option label {
    font-size: 18px;
    color: #333;
}

.payment-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.payment-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.confirm-button, .cancel-button {
    width: 100%;
    max-width: 180px;
    padding: 12px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.confirm-button {
    background-color: #FFA500;
}

.confirm-button:hover {
    background-color: #FF8C00;
}

.cancel-button {
    background-color: #333;
}

.cancel-button:hover {
    background-color: #000;
}

/* Layout per schermi più larghi */
@media (min-width: 768px) {
    .payment-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .payment-options {
        margin-right: 20px;
    }

    .payment-buttons {
        align-items: flex-end;
    }
}

/* Layout per schermi piccoli */
@media (max-width: 480px) {
    .payment-title {
        font-size: 20px;
    }

    .payment-instructions,
    .payment-option label {
        font-size: 16px;
    }

    .payment-option {
        padding: 10px;
    }

    .payment-icon {
        width: 40px;
        height: 40px;
    }
}
