.category-list-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 40px 40px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Imposta una larghezza minima maggiore */
    gap: 30px;
    width: 100%;
    max-width: 1200px;
}

.category-item {
    width: 100%; /* Occupa tutta la larghezza della cella */
    max-width: 300px; /* Imposta una larghezza massima per il rettangolo */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.category-item:hover {
    transform: translateY(-5px);
}

.category-image {
    width: 100%; /* Usa tutta la larghezza del riquadro */
    height: 160px; /* Altezza minore per rendere il rettangolo orizzontale */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.category-item h4 {
    font-size: 1.1em;
    color: #333;
    margin-top: 1px;
}
